@import url('./fonts.css');

:root {
    --background: #fffbeb;
    --accent: #ff8901;
    --text: #451a03;
    --text-accent: #fffbeb;
    --regular: 500;
    --bold: 700;
    --font-family-title: Enthalpy298;
    --font-family-text: Raleway;
}

html{
   scroll-behavior: smooth;
}

#body {
    background-color: var(--background);
}

.text-accent {
    font-weight: 700;
}

.header {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-text);
    font-weight: 700;
    color: var(--text);
}

.header__logo {
    font-family: var(--font-family-title);
    flex-shrink: 0;
    font-size: 1.5rem;
}

.header__menu {
    flex-shrink: 0;
    display: flex;
    column-gap: 2rem;
    margin-inline: auto;
    font-size: 1rem;
}

.header__menu-item a{
    color: inherit;
    text-decoration: none;

}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    max-width: 80rem;
    padding-top: 4rem;
    padding-inline: 2rem;
    margin-inline: auto;
}

.hero__container {
    align-self: center;
    text-align: left;
}

.hero__img {
    align-self: center;
    height: auto;
    max-width: 30rem;
    border-radius: 1.5rem;
}

.hero__title {
    position: relative;
    font-family: var(--font-family-title);
    font-size: 17.25rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
    color: var(--text);
    max-width: 30rem;
}

.hero__title::before {
    content: '• Ваш кофе с первого взгляда';
    display: block;
    font-size: 1.75rem;
    margin: 0;
    letter-spacing: 0rem;
    text-align: center;
}

.hero__description {
    font-family: var(--font-family-text);
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text);
    margin-top: 1.5rem;
    margin-right: auto;
}

.hero__button {
    margin-top: 2.5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--font-family-text);
    font-weight: 500;
    color: var(--text-accent);
    background-color: var(--accent);
    border: none;
    border-radius: .375rem;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}

.hero__button:hover {
    background-color: var(--text);
}

.problem {
    font-family: var(--font-family-text);
    margin-inline: auto;
    text-align: center;
    background-color: var(--accent);
    padding-block: 5rem;
    color: var(--text-accent);
    margin-top: 6rem;
}

.problem__title {
    font-size: 3rem;
    font-weight: 700;
}

.problem__description {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    padding-inline: 25rem;

}

.problem__stats {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline: 25rem;
}

.problem__stat-item {
    text-align: center;
    flex: 1;
    min-width: 200px;
}


.problem__stat {
    font-size: 2.5rem;
    font-weight: 700;
    display: block;
}

.problem__stat-label {
    margin-top: 0.5rem;
}

.solutions {
    margin-top: 6rem;
}

.solutions__header {
    font-family: var(--font-family-text);
    margin-inline: auto;
    max-width: 70rem;
    text-align: center;
    color: var(--text);
    margin-top: 6rem;
}

.solutions__title {
    font-size: 3rem;
    font-weight: 700;
}

.solutions__description {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    padding-inline: 5rem;
}

.solutions__list {
    margin-inline: auto;
    max-width: 80rem;
}

.solutions__list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    grid-auto-flow: column dense;
    margin-top: 8rem;
    place-items: center;
}

.solutions__list-item:nth-child(even) {
    direction: rtl;
}

.solutions__list-item:nth-child(even) > .solutions__img-container {
    margin-right: auto;
}

.solutions__list-item:nth-child(odd) > .solutions__img-container {
    margin-left: auto;
}

.solutions__list-item:nth-child(even) > .solutions__description {
    text-align: right;
}

.solutions__list-item:nth-child(odd) > .solutions__img-container {
    margin-left: auto;
}


.solutions__img-container {
    object-fit: contain;
    max-width: 20rem;
    aspect-ratio: 1/1;
    border-style: solid;
    border-color: #ff8901;
    border-width: .125rem;
    border-radius: 1rem;
    /* overflow: hidden; */
}

.solutions__img {
    border-radius: 1rem;
    max-width: 100%;
    object-fit: contain;
}

.solutions__list-item-info {
    max-width: 36rem;
    font-family: var(--font-family-text);
}

.solutions__list-item-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--text);
}

.solutions__list-item-description {
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--text);
}

.features {
    margin-top: 6rem;
    font-family: var(--font-family-text);
    padding-inline: 5rem;
    
    margin-inline: auto;
    text-align: center;
    background-color: var(--accent);
    padding-block: 5rem;
    color: var(--text-accent);
    margin-top: 6rem;
}

.features__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-inline: auto;
}

.features__item {
    padding: 2rem;
    text-align: center;
}

.features__icon {
    align-items: center;
    margin-inline: auto;
    max-width: 4rem;
    margin-bottom: 1rem;
    color: var(--primary);
}

.features__icon img {
    align-self: center;
    width: 100%;
}

.features h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.features__grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, 25rem);
    justify-content: center;
    gap: 2rem;
}

.call-to-action {
    font-family: var(--font-family-text);
    color: var(--text);
    text-align: center;

    margin-top: 5rem;
    padding: 6.25rem 0;

    border-style: solid;
    border-color: var(--accent);
    border-width: .1875rem;
    border-radius: 1rem;
    max-width: 50rem;
    margin-inline: auto;
}

.call-to-action h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.call-to-action p {
    font-size: 1.25rem;
    /* max-width: 600px; */
    /* margin: 0 auto 2rem; */
}

.call-to-action__button {
    margin-top: 2.5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--font-family-text);
    font-weight: 500;
    color: var(--text-accent);
    background-color: var(--accent);
    border: none;
    border-radius: .375rem;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}

.call-to-action__button:hover {
    background-color: var(--text);
}

.footer {
    margin-top: 5rem;
    background-color: var(--accent);
    font-family: var(--font-family-text);
    color: var(--text-accent);
    text-align: center;
    padding-block: 5rem;
}

.footer__menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.footer__logo {
    font-family: var(--font-family-title);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.footer__menu-item a {
    color: inherit;
    text-decoration: none;
}

.footer__menu-item a:hover {
    text-decoration: underline;
}

.footer__copyright {
    margin-top: 2rem;
}


